

header {
  background-color: #99f3bd;
  color: #ff5722;
  font-family: "McLaren", cursive;
  font-weight: 200;
  text-align: center;
  background: #fabea7;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px;

}




.country{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px;
  float: left;
  width: 250px;
  /*display: grid;
  grid-template-columns: 50% 50%;*/

}

.country h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: "McLaren", cursive;
  text-align: center;

}

.country p {
  font-size: 1.1em;
  margin-bottom: 6px;
  font-family: "McLaren", cursive;
  text-align: center;
}
