

header {
  background-color: #edcfa9;
  color: #d57149;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
  background: #edcfa9;
  border-radius: 7px;
  box-shadow: 0 2px 5px #aa4a30;
  padding: 10px;
  margin: 30px;
  display: grid;
}

.country{

  border-radius: 7px;
  box-shadow: 0 2px 5px #aa4a30;
  border-radius: 7px;
  padding: 10px;
  margin: 16px;
  float: left;
  width: 250px;
}

.total-c {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.norway {
  display: grid;
}
.italy{
  display: grid;
}
.portugal{
  display: flex;
}
.greece {
  display: flex;
}

.image{
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px #aa4a30;
  border-radius: 7px;
  padding: 10px;
}

.country h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: Georgia, serif;
  text-align: center;
  color: #d57149;

}

.country p {
  font-size: 1.1em;
  margin-bottom: 6px;
  font-family: Georgia, serif;
  text-align: center;
}
