@media (prefers-reduced-motion: no-preference){
    #image{
      animation: moveCircle infinite 3s linear;
    }
  }


  @keyframes moveCircle {
      0%{
        transform: rotate(10deg);
      }
      50%{
        transform: rotate(-10deg)
      }
      100%{
        transform: rotate(10deg);
      }
    }
