.circle:focus, .circle:hover {
  animation: moveCircle 6s ;
  animation-fill-mode: forwards;
}
.circle {
  display: block;
  margin: 0 auto;
}

@keyframes moveCircle {
    0%{
      transform:translate(0px,1px);
    }
    100%{
      transform:translate(300px,0px);
    }
  }
